NewsFeedclient/Connected Services/NewsService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewsFeed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewsFeed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
</xs:schema>